* {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
  background-color: #fff; }

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  overflow: hidden; }

a:link {
  color: #4183C4; }

a:visited {
  color: #333; }

p {
  text-align: left;
  text-decoration: none;
  color: #333;
  font-family: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  line-height: 25px;
  margin-top: 10px;
  text-align: center; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  border-bottom: solid 1px #E5E5E5; }

li {
  margin-right: 10px;
  display: inline;
  color: #333;
  font-family: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }

header {
  background-color: #F5F5F5;
  padding-bottom: 0px; }

.header-container {
  width: 1100px;
  padding: 0; }

.nav-left {
  margin-top: 40px;
  margin-left: 40px;
  height: 55px; }
  .nav-left ul {
    border-style: none;
    border-bottom: 0px; }

.cat-logo::before {
  content: url(../icons/cat-icon-big.png);
  margin-top: 15px;
  margin-left: 120px;
  float: left; }

.nav-search {
  margin: 0;
  padding: 0; }

input[type="search"] {
  position: relative;
  width: 360px;
  min-height: 28px;
  padding: 4px 20px 4px 8px;
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }

.header-text-start {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333; }

.header-text {
  display: inline-block;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333; }

.gravatar::before {
  content: url(../icons/me-thumb.jpg);
  margin-top: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  margin-left: 100px; }

.add-icon::before {
  content: url(../icons/plus-icon.png);
  margin-top: 0;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  margin-left: 5px; }

.notifications::before {
  content: url(../icons/notifications.png);
  margin-top: 0;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  margin-left: 5px; }

.settings::before {
  content: url(../icons/tools-icon.png);
  margin-top: 0;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  margin-left: 5px; }

.sign-out::before {
  content: url(../icons/logout-icon.png);
  margin-top: 0;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  margin-left: 5px; }

.container {
  width: 1200px; }

.entire-page {
  padding: 10px; }

.sidebar {
  float: left;
  width: 250px;
  padding: 0;
  margin-top: 0;
  margin-left: 120px;
  text-align: left; }

.my-avatar img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 225px;
  height: auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

.name-profile li {
  display: block; }

.vcard-fullname {
  font-family: 'Helvetica', arial, freesans, sans-serif;
  display: block;
  overflow: hidden;
  width: 100%;
  font-style: bold;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-overflow: ellipsis; }

.vcard-username {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis; }

.vcard-details {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px; }
  .vcard-details li {
    display: block; }

.home-location::before {
  content: url(/icons/mapdot.png);
  position: relative;
  top: 5px; }

.home-location {
  margin: 0;
  padding: 0; }

.email::before {
  content: url(/icons/maillogo.png);
  position: relative;
  top: 5px; }

.numbers-contain {
  display: inline-block; }

.numbers {
  display: inline-block;
  color: #4183C4;
  font-size: 2em;
  font-family: 'Helvetica', arial, freesans, sans-serif; }

.num-desc {
  display: inline-block;
  color: #999999;
  font-size: 1em;
  font-family: 'Helvetica', arial, freesans, sans-serif; }

.main-content {
  display: inline-block;
  width: 740px;
  padding: 0;
  margin-top: 0;
  margin-left: 10px; }

.tabbed-content {
  display: none; }

.active {
  display: inherit; }

footer {
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both; }

.copyright {
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  margin-left: 120px;
  font-family: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }

.footer-links {
  font-size: 12px;
  line-height: 1.5;
  color: #4183C4;
  font-family: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }

.small-cat::before {
  content: url(../icons/small-cat.png);
  margin-top: 20px;
  margin-left: 120px;
  display: inline-block; }

.footer-links-right {
  font-size: 12px;
  line-height: 1.5;
  color: #4183C4;
  font-family: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: 120px; }
